.naama {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
  } 
   .welcome-card {
    color: black;
    font-size: large;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: lightblue;
  } 
  .content {
    color: black;
    font-size: large;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
  } 
  .otsikko {
    color: black;
    font-size: large;
   font-weight: bold;
  } 