<!--
Eemil Hartikainen 1800699
Mikko Vauhkonen 1800691
Matias Kohanevic 1800715
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<img src="/assets/naama.jpg" class="naama" alt="kuvake" />
<br>
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>

      <ion-card-title class="otsikko">About this app</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This app is made by Eemil Hartikainen, Matias Kohanevic and Mikko
        Vauhkonen!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>

      <ion-card-title class="otsikko">What I can do with this app?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        With this app you can calculate your gas consumption with ease!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

