<!--
Eemil Hartikainen 1800699
Mikko Vauhkonen 1800691
Matias Kohanevic 1800715
-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="welcome">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Welcome</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bensaApp">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Gaszilla</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
