<!--
Eemil Hartikainen 1800699
Mikko Vauhkonen 1800691
Matias Kohanevic 1800715
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gaszilla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Fuel comsuption</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Insert data to get stats about your fuel consuption.
      </p>
    </ion-card-content>
  </ion-card>
  <!-- Input fields -->
  <ion-list lines="full">
    <ion-text color="primary">
      <h2 class="ion-text-center">Add new entry:</h2>
    </ion-text>
    <ion-item>
      <ion-label>Driven Kilometers:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Refuel amount:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Refuel price:</ion-label>
      <ion-input></ion-input>
    </ion-item>   
      <ion-button ion-button expand="block" color="success">Add entry</ion-button>
  </ion-list>

  <!-- Statistics -->
<ion-list>
  <ion-text color="primary">
    <h2 class="ion-text-center">Statistics</h2>
  </ion-text>
    <ion-item>
    <ion-label>All time l / 100km:</ion-label><p>7,1l / 100km</p>
  </ion-item>
    <ion-item>
    <ion-label>All time € / 100km:</ion-label><p>10,00€ / 100km</p>
  </ion-item>
  <ion-item>
    <ion-label>Total €:</ion-label><p>158686,66€</p>
  </ion-item>
  <ion-item>
    <ion-label>Total km:</ion-label><p>158,66km</p>
  </ion-item>
  <ion-item>
    <ion-label>Total liters:</ion-label><p>158l</p>
  </ion-item>
</ion-list>

<!-- Entries -->
<ion-list>
  <ion-text color="primary">
    <h2 class="ion-text-center">Entries</h2>
  </ion-text>
  <ion-list lines="none" inset="true">
    <ion-button class="accordion" expand="block">15/04/2020 +</ion-button>
    <div class="panel">
    <ion-item>
    <ion-label>Driven kms:</ion-label><p>646,5km</p>
  </ion-item>
    <ion-item>
    <ion-label>Refuel amount:</ion-label><p>49,79l</p>
  </ion-item>
    <ion-item>
    <ion-label>Refuel price:</ion-label><p>69,55€</p>
  </ion-item>
  <ion-item>
    <ion-label>l / 100km:</ion-label><p>7,45l / 100km</p>
  </ion-item>
  <ion-item>
    <ion-label>€ / 100km:</ion-label><p>9,66€ / 100km</p>
  </ion-item>
</div>
  </ion-list>
  <ion-list lines="none" inset="true">
    <ion-button class="accordion" expand="block">17/04/2020 +</ion-button>
    <div class="panel">
    <ion-item>
    <ion-label>Driven kms:</ion-label><p>821,8km</p>
  </ion-item>
    <ion-item>
    <ion-label>Refuel amount:</ion-label><p>60,53l</p>
  </ion-item>
    <ion-item>
    <ion-label>Refuel price:</ion-label><p>97,98€</p>
  </ion-item>
  <ion-item>
    <ion-label>l / 100km:</ion-label><p>8,4l / 100km</p>
  </ion-item>
  <ion-item>
    <ion-label>€ / 100km:</ion-label><p>11,23€ / 100km</p>
  </ion-item>
</div>
  </ion-list>
</ion-list>
</ion-content>


